header{
    background-color: white;
    /* border: 10px solid white; */
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    box-shadow: 2px;
    /* border: 2px solid black; */
}
nav{
    display: flex;
    align-items: center;
    left: 0%;
    position: relative;
    gap: 50px
}
nav a{
    text-decoration:none;
    color: purple;
}